<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<!-- 메뉴 바 -->
<nav th:replace="layout::nav"></nav>
<div class="container my-3">
    <!-- 여기부터 시작 -->
    <h5 class="border-bottom pb-2">질문등록</h5>
    <form th:object="${questionForm}" method="post">
        <!-- csrf를 수동으로 추가하기 위해서 꼭 작성해야함 -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <!-- 모든 에러메세지 표시  -->
        <div th:replace="layout::formErrors"></div>
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input type="text" th:field="${questionForm.subject}" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea th:field="${questionForm.content}" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2" />
    </form>
</div>
</body>
</html>